DJANGO_SECRET_KEY=changeme
DEBUG=True
POSTGRES_DB=ordp
POSTGRES_USER=ordp
POSTGRES_PASSWORD=changeme
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
ALLOWED_HOSTS=localhost,127.0.0.1

# Backblaze B2 S3-compatible API
OBJECT_STORAGE_ENDPOINT_URL=https://s3.us-west-004.backblazeb2.com
OBJECT_STORAGE_ACCESS_KEY=changeme
OBJECT_STORAGE_SECRET_KEY=changeme
OBJECT_STORAGE_BUCKET=ordp-datasets
OBJECT_STORAGE_REGION=us-west-004
